.banner02{
    width: 1920px;
    height: 991px;
    background-color: white;
    position: relative;
}

.banner02__background{
    width: 1920px;
    height: 991px;
    background-image: url("../src/img/gif/Noise-200px.gif");
    background-repeat: repeat-x;
    background-size: 991px 991px;
    opacity: 0.1;
    position:absolute;
}

.banner02__figures{
    width: 1920px;
    height: 991px;
    opacity: 1;
    position:absolute;
    padding-left: 543px;
    padding-top: 183px;
} 

.banner02__text{
    position:absolute;
}

.banner02__title{
    margin-left: 378px;
    margin-top: 265px;
    width: 688px;
    height: 80px;
    font-family: GothamPro-Bold;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.7px;
    color: #000000;
}

.banner02__points{
    display: flex;
    flex-direction: row;
    margin-left: 530px;
    margin-top: 196px;
}

.banner02__point{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    margin-left:53px;
}

.banner02__point:nth-child(3){
    margin-left: 40px;;
}

.banner02__bullet{
    width: 14px;
    height: 14px;
    background-color: #000000;
}

.banner02__point-text{
    margin-left: 20px;
    width: 250px;
    font-family: GothamPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
}

#triangl3{
    visibility: visible;
}
#triangl1{
    visibility: hidden;
}

#triangl12{
    visibility: hidden;
}