.banner01{
    width: 1920px;
    height: 595px; 
    background-image: url("../src/img/png/02-banner-pml.png");
}

.banner01__content{
    margin-left: 469px;
    display: flex;
    flex-direction: column;
}

.banner01_pml{
    margin-left: 736px;
}

.banner01_pml img{
    width: 151px;
    height: 151px;
}

.banner01__text{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 71px;
    font-family: GothamPro;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.7px;
    color: #ffffff;
}

.banner01__dot{
    width: 16px;
    height: 19px;
    background-color: #01da00;
    margin-bottom: 14px;
    margin-left: 9px;
}

.banner01__text:nth-child(3){
    margin-left: 226px;
}
.banner01__text:nth-child(4){
    margin-left: 423px;
}