@media only screen and (max-width: 320px) {
.banner01{
    width: 320px;
    height: 442px; 
    background-image: url("../src/img/png/02-banner-pml-smol\(3\).jpg");
    background-size: 346px auto;
    padding-left: 26px;
}

.banner01__content{
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.banner01_pml{
    margin-left: 0px;
    margin-bottom: 140px;
}

.banner01_pml img{
    width: 100px;
    height: 101px;
}

.banner01__text{
    margin-top: 0px;
    font-family: GothamPro;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: -0.85px;
    color: #ffffff;
    margin-top: -25px;
}

.banner01__dot{
    width: 8px;
    height: 8px;
    background-color: #01da00;
    margin-bottom: 8px;
    margin-left: 2px;
}

.banner01__text:nth-child(3){
    margin-left: 0px;

}
.banner01__text:nth-child(4){
    margin-left: 0px;
}

}