@media only screen and (max-width: 1000px) and (min-width:321px){
            .clients{
                width: 697px;
                height: 943px;
                background-image: url("../src/img/gif/Noise-200px.gif");
                background-repeat: repeat;
                background-size: 1008px 1008px;

                padding-left: 71px;
                padding-top: 131px;

                overflow-x: hidden;
                overflow-y: hidden;
                margin-top: 1024px;
            }

            .clients__numbers{
                display: flex;
                flex-direction: row;  
                flex-wrap: wrap;            
            }

            .number__title{  
                width: 282.7px;
                height: 60px;
                font-family: GothamPro;
                font-size: 60px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: -1.28px;
                color: #ffffff;
            }

            .number.second, .number.third, .number.fourth{
                margin-left: 0px;
                margin-top: 0px;
            }

            .number.third, .number.fourth{
                margin-top: 42px;
            }

            .number.second, .number.fourth{
                margin-left: 124.4px;
            }
            
            .number__text{
                margin-top: 15px;
                width: 284px;
                height: 44px;
                font-family: GothamPro;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.57;
                letter-spacing: normal;
                color: #ffffff;
            }

            .clients__title-row{
                margin-top: 98px;
                display: flex;
                flex-direction: row;  
            }

            .clients__title{
                display: flex;
                flex-direction: row;  
            }

            .clients__tittle-text{
                width: 266px;
                height: 69px;
                 font-family: GothamPro;
                font-size: 60px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: -1.28px;
                color: #ffffff;
            }

            .clients__rect{
                margin-top: 36px;
                width: 16px;
                height: 16px;
                background-color: #01da00;
            }

            .clients_arrows{
                margin-top: 15px;
                margin-left: 278px;
                display: flex;
                flex-direction: row;  
            }

            .clients__arrow img{
                height: 22px;
            }

            .clients__arrow.left{
                transform: scaleX(-1);
                margin-right: 18px;
            }
            #arrow_2{
                opacity: 0.3;
            }

            .clients__list{
                margin-top: 35px;
                width: 2000px;
                display: flex;
                flex-direction: row;  
            }

            .client{
                width: 338px;
                height: 323px;
                background-color: #01da00;
                padding-left: 34px;
                padding-right: 32px;

            }

            .client.white{
                background-color: #ffffff;
            }

            .client__bottom{
                width: 358px;
                display: flex;
                flex-direction: row; 
                margin-top: 99px;        
            }

            .client__bottom.white{
                margin-top: 70px;  
            }

            .client__bottom.tv{
                margin-top: 72px;
            }


            .client__logo img{
                width: 173px;
            }

            .client__logo-white{
                margin-left: 100px;
            }

            .client__logo-white img{
                width: 100px;
            }

            .client__logo.tv img{
                width:118px;
            }

            .client__logo.tv{
                margin-top: 58px;
                margin-left: 28px;
            }

            .client__text{
                margin-top: 20px;
                height: 173px;
                font-family: GothamPro;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.57;
                letter-spacing: normal;
                color: #000000;
            }

            .client__text.white{
                margin-top: 32px;
            }
            .client__text{
                width:292px;
            }

            .client__name{
                margin-top: 26px;
                width: 383px;
                height: 92px;
                font-family: GothamPro;
                font-size: 30px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.17;
                letter-spacing: -0.64px;
                color: #000000;
            }

            .client__text br{
                display: none;
            }
        }
