
            .clients{
                width: 1545px;
                height: 1026px;
                background-image: url("../src/img/gif/Noise-200px.gif");
                background-repeat: repeat;
                background-size: 1008px 1008px;

                padding-left: 375px;
                padding-top: 186px;

                overflow-x: hidden;
                overflow-y: hidden;
            }

            .clients__numbers{
                display: flex;
                flex-direction: row;              
            }

            .number__title{  
                font-family: GothamPro;
                font-size: 80px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: -4.8px;
                color: #ffffff;
            }

            .number.second{
                margin-left: 132px;
            }

            .number.third{
                margin-left: 86px;
            }

            .number.fourth{
                margin-left: 71px;
            }

            .number__text{
                margin-top: 18px;
                width: 229px;
                height: 48px;
                font-family: GothamPro;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #ffffff;      
            }

            .clients__title-row{
                margin-top: 117px;
                display: flex;
                flex-direction: row;  
            }

            .clients__title{
                display: flex;
                flex-direction: row;  
            }

            .clients__tittle-text{
                width: 356px;
                height: 80px;
                font-family: GothamPro;
                font-size: 80px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: -1.7px;
                color: #ffffff;
            }

            .clients__rect{
                margin-top: 52px;
                width: 16px;
                height: 16px;
                background-color: #01da00;
            }

            .clients_arrows{
                margin-top: 36px;
                margin-left: 702px;
                display: flex;
                flex-direction: row;  
            }

            .clients__arrow img{
                height: 29px;
            }

            .clients__arrow.left{
                transform: scaleX(-1);
                margin-right: 22px;
            }
            #arrow_2{
                opacity: 0.3;
            }

            .clients__list{
                margin-top: 77px;
                width: 2000px;
                display: flex;
                flex-direction: row;  
            }

            .client{
                width: 434px;
                height: 397px;
                background-color: #01da00;
                padding-left: 34px;
                padding-right: 32px;

            }

            .client.white{
                background-color: #ffffff;
            }

            .client__bottom{
                width: 434px;
                display: flex;
                flex-direction: row; 
                margin-top: 170px;        
            }

            .client__bottom.white{
                margin-top: 128px;  
            }

            .client__bottom.tv{
                margin-top: 72px;
            }

            .client__logo img{
                width: 200px;
            }

            .client__logo-white{
                margin-left: 100px;
            }

            .client__logo-white img{
                width: 100px;
            }

            .client__logo.tv img{
                width:118px;
            }

            .client__logo.tv{
                margin-top: 58px;
                margin-left: 28px;
            }

            .client__text{
                margin-top: 20px;
                width: 234px;
                height: 173px;
                font-family: GothamPro;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #000000;
            }

            .client__text.white{
                margin-top: 32px;
            }
            .client__text{
                width:292px;
            }

            .client__name{
                margin-top: 36px;
                width: 383px;
                height: 92px;
                font-family: GothamPro;
                font-size: 40px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.15;
                letter-spacing: -0.85px;
                color: #000000;
            }
           
