.clients.active .number{
    opacity: 1;
    animation-duration: 2s;
    animation-name: number_appear;
    animation-fill-mode:both;
}

@keyframes number_appear{
    from {
        opacity: 0;
    }
    to{
        margin-top: 0px;
    }
}

.clients.active .number.second{
    animation-delay: 150ms;
    animation-fill-mode:both;
}

.clients.active .number.third{
    animation-delay: 300ms;
    animation-fill-mode: both;
}

.clients.active .number.fourth{
    animation-delay: 450ms;
    animation-fill-mode: both;
}

.clients.active .clients__list{
    animation-name: clients-roll;
    animation-duration: 2450ms;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

@keyframes clients-roll{
    from {
        margin-left: 1000px;
    }

}

.clients.active .clients__list.moveleft{
    animation-name: clients-roll1;
    animation-duration: 2s;

}

@keyframes clients-roll1{
    to {
        margin-left: -500px;
    }

}

.clients.active .clients__list.moveright{
    animation-name: clients-roll2;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes clients-roll2{
    from {
        margin-left: -500px;
    }
    to {
        margin-left: 0px;
    }

}