@media only screen and (max-width: 320px) {

body, html{
    margin: 0px;
    width: 320px;
    background-color: black;
}

.header{
    width: 320px;
    height: 568px;
    padding-left: 27px;
    background-image: url("../src/img/png/01-main.png");
    background-size: auto 600px;
    background-position: 347px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: baseline;
    position: absolute;
}

.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 0px;
}
.header__button_wrap .header__button{
    visibility: hidden;
}

.header__intro{
    display: flex;
    flex-direction: column;
}

.header__arrow{
    width: 130px;
    height: 42px;
    object-fit: contain;
}

.header__text{
    margin-top:71px;
    margin-left: 0px;
    width: 266px;
    height: 88px;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #ffffff;  
}

.header__button{
    width: 199px;
    height: 50px;
    background-color: hsl(120, 100%, 43%);
    background-size: 199px auto;
    padding-left:0px;
    border: none;
}

.header__button div{
    width: 199px;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.01px;
    text-align: center;
    color: #000000;
}

.header__bottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;
}

.header__pike img{
    width: 183px;
    height: 51px;
}

.header__media{
    visibility: hidden;
    margin-top: 0px;
}

.header__media img{
    width: 0px;
    height: 0px;
}


#header_logo_1{
    visibility: hidden;
}


#header_logo_2{
    visibility: visible;
    width: 130px;
    height: 42px;
}

#header__media_part1 img{
    visibility: visible;
    margin-top: -15px;
    width: 266px;
    height: 51px;

}
#header__media_part2 img{
    visibility: visible;
    margin-top: 5px;
    margin-left: 142px;
    width: 123px;
    height: 51px;
}

#header_telephon{
    visibility: visible;
    width: 29px;
    height: 35px;
}

.header__button_wrap{
    margin-left: -25px;
}

}