@media only screen and (max-width: 1500px){
    .experience{
        width: 1440px;
        height: 710px;
        background-image: url("../../src/img/png/03-integration@2x.png");
        background-size: auto 900px;
        
        padding-left: 134px;
        padding-top: 190px;
    
        overflow-x: hidden;
    }
}