@media only screen and (max-width: 1439px){
    .banner02{
        height: 768px;
    }
    
    .banner02__background{
        height: 768px;

    }

    .banner02__content{
        width: 1024px;
    }

    .banner02__figures.big{
        display: none;
    }

    .banner02__figures.middle{
        display: inline;
        padding-left: 151px;
        padding-top: 128px;
    }

    .banner02__title{
        font-size: 60px;
        margin-left: 45px;
        margin-top: 236px;
    }

    .banner02__points{
        margin-left: 125px;
        margin-top: 109px;
    }

    .banner02__bullet{
        width: 10px;
        height: 10px;
    }

    .banner02__point-text{
        font-size: 14px;
        width: 212px;
        line-height: 1.57;
        margin-left: 17px;
        margin-top: 1px;
    }

    .banner02__point:nth-child(2){
        margin-left: 34px;
    }
    
    .banner02__point:nth-child(3){
        margin-left: 35px;
    }
}