@media only screen and (max-width: 1200px){
    .feedback{
        width: 978px;
        height: 630px;
        padding-left: 46px;
        padding-top: 138px;
    }
    

    .feedback__title{
        font-size: 60px;
        width: 609px;
        height: 180px;
        line-height: 1;
        letter-spacing: -1.28px;
    }

    .feedback__dot{
        margin-left: 3px;
        font-size: 85px;
        line-height: 0.46;
    }

    .feedback__info{
        width: 300px;
        font-size: 14px;
    }
    .feedback__form{
        padding-top: 28px;
    }

    .feedback__field input{
        width:428px;
        margin-left: 100px;
        font-size: 14px;
        margin-top: 6px;
        padding-top: 7px;
        margin-bottom: 25px;
        height:4px;
    }

    .feedback__button{
        margin-top: 42px;
        margin-left: 103px;
    }
}