@media only screen and (max-width: 1439px){
    .footer{
        height: 275px;
        width: 978px;
        padding-left: 46px;
    }

    .footer__contact-info{
        margin-left: 70px;
        padding-top: 76px;
        font-size: 14px;
        line-height: 2.15;
    }

    .footer__social{
        margin-right: 48px;
        padding-top: 78px;
        height: 75px;

    }

    .footer__logo{ 
        height: 170px;
    }
    .footer__dev{
        margin-top: 40px;
        font-size: 14px;
        margin-right: 3px;
    }
}