@media only screen and (max-width: 1439px){
    .header{
        width: 976.5px;
        min-height: 400px;
        /*background-image: url("../../src/img/png/01-main.png");*/
        background-size: auto 768px;
        background-position: -340px;
        padding-left: 47.5px;
    }

    #curtain{
        width: 100%;
    }

    .header__top{
        width: 976.5px;
    }

    .header__pike img{
        width: 430px;
        height: 122px;
    }

    .header__media img{
        width: 928.8px;
        height: 121.7px;
    }

    .header__bottom{
        margin-bottom: 35px;
    }
    .header__media{
        margin-top: 20px;
    }

    .header__button{
        width: 199px;
        height: 49.9px;
        margin-right: 45.8px;
        padding-left:1px;
    }

    .header__arrow{
        margin-left: 0px;
        margin-top:-1px;
    }

    .header__text{
        margin-left:30.5px;
        margin-top:-4.5px;
        line-height: 1.46;
  
    }

    .header__button div{
        font-size: 12px;
        margin-left: 2px;
        margin-top: 1px;
    }
    
    .header__wriper{
        width: 100%;
        display: flex;
        justify-content: center;
        min-height: 400px;
      
    
    }


}

