@media only screen and (max-width: 1200px){
    .popup__feedback{
        width: 100%;
        height: 712px;
        padding-top: 56px;
        padding-left: 0px;
    }

    .popup__cross, .popup__cross_img{
        width: 35px;
        height: 30px;
    }

    .popup__cross{
        margin-right: 56px;
    }

    .popup__feedback .feedback{

        margin-top: -85px;
        margin-left: 0px;
    }

    .popup__feedback .feedback__input{
        margin-left: 140px;
        margin-top: 2px;
    
    }
}