@media only screen and (max-width: 850px){
    .banner01{
        width:100%;
        height: 356px;
    }

    .banner01_pml{
        margin-left: 543px;
    }

    .banner01_text_wrap{
        margin-left: 40px;
        margin-top: -61px;
    }

    #myVideo1{
        display: none;
    }
    
    
}