@media only screen and (max-width: 850px){
    .clients{
        width: 697px;
        height: 947px;
        background-repeat: repeat;
        background-size: 1008px 1008px;

        padding-left: 71px;
        padding-top: 131px;

    }

    .clients__numbers{
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;            
        height: 400px;
    }

    .number{
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .number.third, .number.fourth{
        margin-left: 114px;
    }

    .number.second, .number.fourth{

        margin-top: 37px;
    }

    .number.second{
        margin-left: 0px;
    }
    

    .number__text br{
        display: none;
    }

    .number__text:first-child{
        width: 284px;
    }

    .number__text{
        margin-top: 18px;
    }

    .clients__title-row{
        margin-top: -28px;  
    }

    .clients_arrows{
        margin-top: 16px;
        margin-right: 51px;
    }

    .clients__arrow.left{
        margin-right: 25px;
    }

    .clients__list{
        margin-top: 23.5px;
    }
}