@media only screen and (max-width: 850px){
    .experience{
        padding-top: 149px;
        background-size: auto 800px;
    }
    .experience__arrows{
        margin-top: 80px;
        margin-left: 200px;
    }
    .experience__bottom{
        margin-top: 65px;
    }
    #myVideo2{
        display: none;
    }

    .experience__content{
        width: 768px;
    }
    
}