@media only screen and (max-width: 1023px){
    .experience{
        padding-top: 149px;
        height: 659px;
        background-size: auto 808px;
    }
    .experience__arrows{
        margin-top: 80px;
        margin-left: 200px;
    }
    .experience__bottom{
        margin-top: 65px;
    }
    #myVideo2{
        display: none;
    }

    .experience__content{
        width: 728px;

    }
    
}