@media only screen and (max-width: 850px){
    .feedback{
        width: 700px;
        height: 863px;
        padding-left: 68px;
        padding-top: 155px;
    }

    .feedback__form{
        flex-direction: column;
        padding-top: 50px;
    }

    .feedback__input{
        margin-left: -100px;
        margin-top: 77px;
    }

    .feedback__button{
        margin-top: 59px;
        margin-left: 99px;
    }

    .feedback__button div{
        font-size: 12px;
        letter-spacing: 1;
        padding-left: 1px;
    }
    
}