@media only screen and (max-width: 850px){
    .footer{
        flex-direction: column;
        justify-content: space-between ;
        height: 328px;
        width: 708px;
        padding-left: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__social{
        flex-direction:row;
        padding-top: 0px; 
        margin-right: 0px;
        margin-bottom:69px;
    }

    .footer__contact{
        margin-top: 76.6px;
    }

    .footer__logo{
        padding-top: 0px; 
        padding-left: 0px;
        height: 105px;
    }
    .footer__dev{
        padding-left: 10px;
    }

    .footer__contact-info{
        padding-top: 0px;
        margin-left: 306px;
    }
    

    .footer__dev{
        margin-top:0px;
        margin-bottom: 10px;
        margin-left: 73px;
    }
}