@media only screen and (max-width: 850px){
    .popup__feedback{
        width: 768px;
        height: 968px;
        padding-top: 56px;
    }

    .popup__cross, .popup__cross_img{
        width: 35px;
        height: 30px;
    }

    .popup__cross{
        margin-right: 44px;
    }

    .popup__feedback .feedback{

        margin-top: -74px;
        margin-left: 1px;
    }

    .popup__feedback .feedback__form{
        margin-top: -5px;
    }

    .popup__feedback .feedback__input{
        margin-left: -18px;
        margin-top: 85px;
    
    }
}