@media only screen and (max-width: 850px){
    .services, .services__background{
        width: 768px;
        height: 3764px;
    }
    .services__product{
        flex-direction: column-reverse;
    }
    

    .services__product:nth-child(2),.services__product:nth-child(4){
        flex-direction: column;
    }

    .services__products{
        width: 768px;
        height: 3616px;
        padding-left: 71px;
        padding-top: 148px;
    }

    .product__list.hub{
        margin-top: -82px;
        margin-left: -3px;
    }

    .product__img.hub{
        margin-top: 0px;
        margin-left: 0px;
    }

    .product__title{
        font-size: 48px;
        line-height: 1.09;
        letter-spacing: -1.59px;
    }

    .product__title:nth-child(1){
        margin-left: 0px;
        margin-top: 37px;
    }

    /*archive*/

    .services__product.archive{
        margin-top: 200px;
    }

    .product__img.archive{
        margin-top: 20px;
        margin-left: 0px;
    }

    .services__product.archive .product__title{
        margin-left: 30px;
        margin-top: 39px;
        letter-spacing: -2px;
        line-height: 1.1;
    }

    .product__list.archive{
        margin-left: 27px;
        margin-top: 45px;
    }

    /*signal*/
    .services__product.signal{
        margin-top: 167px;
    }

    .product__img.signal{
        margin-top: 10px;
        margin-left: 0px;
    }

    .services__product.signal .product__title{
        margin-top: 40px;
        margin-left: 2px;
        line-height: 1.09;
    }

    .product__list.signal{
        margin-top: -28px;
        margin-left: -1px;
        width: 547px;
    }

    .product__list.signal li div{
        line-height: 1.45;
        margin-left: -9px;
    }

    /*promo*/

    .services__product.promo{
        margin-top: 170px;
        margin-left:58px;
    }

    .services__product.promo .product__img{
        margin-top:0px;
        margin-left: -59px;
    }

    .product__text.promo{
        margin-left: -60px;
        margin-top:  6px;
    }

    .product__title.promo{
        width:470px;
        line-height: 1.08;
    }

    .product__list.promo{
        margin-top: 42px;
        margin-left: -5px;
        width: 630px;
        height: 1px;
    }

    .product__list.promo li{
        line-height: 1.2;
        padding-left: 0px;
    }


    
    #green_1{
        margin-top: 1148x;
        margin-left: 401px;
    }

    #green_2{
        margin-top: 2961px;
        margin-left: 401px;
    }
    
    
}