@media only screen and (max-width: 1000px) and (min-width:321px){

.banner01{
    width: 768px;
    height: 356px; 
    background-image: url("../src/img/png/02-banner-pml.png");
}

.banner01__content{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.banner01_pml{
    margin-left: 578px;
}

.banner01_pml img{
    width: 108px;
    height: 108px;
}

.banner01__text{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 71px;
    font-family: GothamPro;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.28px;
    color: #ffffff;
}

.banner01__dot{
    width: 12px;
    height: 12px;
    background-color: #01da00;
    margin-bottom: 7px;
    margin-left: 6px;
}

.banner01__text:nth-child(3){
    margin-left: 155px;
    margin-top: -15px;
}
.banner01__text:nth-child(4){
    margin-left: 289px;
    margin-top: -15px;
}

}