.experience{
    width: 1547px;
    height: 738px;
    background-image: url("../src/img/png/03-integration@2x.png");
    background-size: 1920px 944px;
    padding-left: 374px;
    padding-top: 206px;

    overflow-x: hidden;
}

.experience__title, .experience__arrows, .experience__top, .experience__bottom{
    display: flex;
    flex-direction: row; 
}

.experience__title-text{
    font-family: GothamPro;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.7px;
    color: #ffffff;
}
.experience__rect{
    width: 16px;
    height: 16px;
    background-color: #01da00;
    margin-top: 132px;
    margin-left: 6px;
}

.experience__arrows{
    margin-top: 116px;
    margin-left: 592px;
}

.experience__arrow img{
    height: 29px;
}

.experience__arrow.left img{
    transform: rotate(180deg);
    opacity: 0.3;
    margin-right: 22px;
}

.experience__bottom{
    margin-top: 86px;
    width: 2000px;
}

.experience__point{
    width: 466px;
    height: 242px;
    padding-top: 35px;
    padding-bottom: 38px;
    padding-left: 34px;
    background-color: #01da00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience__point.white{
    background-color: #ffffff;
}

.experience__point-top{
    font-family: GothamPro;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #000000;
}

.experience__point-bottom{
    width: 275px;
    height: 32px;
    font-family: GothamPro;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}

.experience__point-bottom.white{
    color: #01da00;
}