@media only screen and (max-width: 1000px) and (min-width:321px){
    .footer{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    color: white;
    height: 234px;
    width: 722px;
    padding-left: 46px;
    padding-bottom: 74px;
}
.footer__contact{            
    display: flex;
    flex-direction: row;
    margin-top: 76.6px;
    height: 161px;
}


.footer__logo{
    padding-top: 0px; 
    padding-left: 0px;
    height: 275px;
}

.footer__logo img{
    widows: 169px;
    height: 53.4px;
}

.footer__contact-info{
    margin-left: 299px;
    padding-top: 2.4px;
    height: 24px;
    width:214px;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #ffffff;
}

.footer__contact-info div{
    margin-top: 8px;
}

.footer__social{
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    /*margin-left: 271px;*/
    margin-right: 0px;
    padding-top: 0px; 
    height: 50px;
}

.footer__icons{
    display: flex;
    width: 370px;
    justify-content: space-between;
    align-items: baseline;
}

.footer__dev{
    margin-top:0px;
    margin-left: 92px;
    width: 195px;
    height: 15px;
    font-family: GothamPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #7f7f7f;
    margin-bottom: 10px;
}

.footer__dev a{
    color: #f2f2f2;
}

.vk {
    width: 28px;
    height: 16px;
    object-fit: contain;
}

.facebook {
    width: 12px;
    height: 24px;
    object-fit: contain;
}
.insta {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.ok {
    width: 13px;
    height: 23px;
    object-fit: contain;
}
.twitter {
    width: 23px;
    height: 20px;
    object-fit: contain;
}
.switch {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.youtube {
    width: 29px;
    height: 20px;
    object-fit: contain;
}
}