@media only screen and (max-width: 320px) {
.footer{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    color: white;
    height: 509px;
    width: 320px;
    padding-left: 26px;
    padding-top: 56px;
    
}
.footer__contact{            
    display: flex;
    flex-direction: column;
}


.footer__logo{
    padding-top: 0px; 
    padding-left: 0px;
    height: 48px;
}

.footer__logo img{
    width: 150px;
    height: 48px;
}

.footer__contact-info{
    margin-left: 0px;
    padding-top: 94px;
    height: 24px;
    width:244px;
    font-family: GothamPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}

.footer__social{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    /*margin-left: 271px;*/
    margin-right: 0px;
    padding-top: 36px; 
    height: 275px;
    margin-top: 56px;
}

.footer__icons{
    display: flex;
    width: 300px;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

.footer__icons div{
    margin-right: 30px;
    margin-top: 26px;
}

.footer__dev{
    margin-top:49px;
    margin-left: -25px;
    width: 195px;
    height: 15px;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #7f7f7f;
}

.footer__dev a{
    color: #f2f2f2;
}

.vk {
    width: 30px;
    height: 17px;
    object-fit: contain;
}

.facebook {
    width: 13px;
    height: 26px;
    object-fit: contain;
}
.insta {
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.ok {
    width: 13px;
    height: 23px;
    object-fit: contain;
}
.twitter {
    width: 25px;
    height: 22px;
    object-fit: contain;
}
.switch {
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.youtube {
    width: 31px;
    height: 22px;
    object-fit: contain;
}
}