/*.servises__stamp-text {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  .servises__stamp-text:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }*/

  .round{
    transform: scale(0.4);
    opacity: 0;
  /*  -webkit-transition: -webkit-transform 1s ease-in-out;
    transition:         transform 1s ease-in-out;
    transition-delay: .8s;*/
  }

.round:hover{
 /*   transform: scale(1);
    opacity: 1;*/
    animation-name: roundround;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes roundround{
    from{
        transform: scale(0.2);
        opacity: 1;
    }
    to{
        transform: scale(1);
        opacity: 1; 
    }
}

.servises__stamp-text.active{
    animation-name: spinaround;
    animation-duration: 1s;
}

@keyframes spinaround{
    to{
        transform: rotate(360deg);
    }
}

.services .header__top {
    width: 1520px;
    top: 0;
    position: fixed;
    padding-left: 200px;
    padding-right: 200px;
  }

  .services .header__intro img{
      width: 200px;
  }
