@media only screen and (max-width: 767px){
    .clients{
        width: 293px;
        height: 1161px;
        background-size: 200px 200px;

        padding-left: 27px;
        padding-top: 74px;
    }

    .number__title{ 
        font-size: 40px;
    }

    .number__text{
        margin-top: 11px;
        
        width: 190px;
    }

    .clients__numbers{
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;            
        height: 600px;
    }

    .number.third, .number.fourth{
        margin-left: 0px;
    }

    .number.second, .number.fourth{

        margin-top: 0px;
    }

    .number{
        margin-bottom: 43px;
    }

    .clients__tittle-text{
        font-size: 40px;
        width: 177px;
    }

    .clients__rect{
        margin-top: 26px;
        margin-left:6px;
        width: 7px;
        height: 7px;
        background-color: #01da00;
    }

    .clients__title-row{
        margin-top: 20.1px;
    }

    .clients__arrow img{
        height: 22px;
    }

    .clients_arrows{
        margin-top: 11px;
        margin-left: 20px;
    }

    .clients__arrow.left{
        transform: scaleX(-1);
        margin-right: 17px;
    }

    /*copypaste*/
    .clients__list{
        margin-top: 0px;
        width: 2000px;
        display: flex;
        flex-direction: row;  
    }

    .client{
        width: 232px;
        height: 380px;
        background-color: #01da00;
        padding-left: 29px;
        padding-right: 32px;

    }


    .client__bottom{
        width: 434px;
        display: flex;
        flex-direction: column; 
        margin-top: 0px;        
    }

    .client__bottom.white{
        margin-top: 128px;  
    }

    .client__logo img{
        width: 178px;
        margin-top: 18px;
        margin-left: 0px;
    }

    .client__logo-white{
        margin-left: 25px;
        margin-top: 3px;
    }

    .client__logo-white img{
        width: 90px;
    }

    .client__logo.tv img{
        display: none;
    }

    .client__logo.tv{
        margin-top: -48px;
        margin-left: 0px;
        width:  178px; 
        height:  89px;
        background-size: 178px 89px;
        background-image: url('../../src/img/png/ct-vgtrk-mobile@3x.png');
    }

    .client__text{
        margin-top: 15px;
        width:234px;
        height: 173px;
        font-family: GothamPro;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #000000;
    }

    .client__name{
        margin-top: 34px;
        width: 238px;
        height: 56px;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.12;
        letter-spacing: -0.54px;
        color: #000000;
    }

    .client__text br{
        display: none;
    }

    .client__bottom.white .client__text.white{
        margin-top: 32px;
        width: 232px;
    }

    .client__bottom.white{
        margin-top:-43px;  
    }

    .client__text.white br, .client__text.tv br{
        display: inline;
    }

    .client__bottom.tv{
        margin-top: 26px;
    }

    .client__text.tv{
        line-height: 1.6;
    }

    .client__name.one,.client__text.one, .client__name.stream{
        width: 240px;
    }
    .client__text.one{
        margin-top: -95px;
    }

    .client__logo-white.one img{
        width: 178px;
        height: 89px;
        margin-top: 18px;
        margin-left: -110px;
    
    }

    .client__text.stream{
        width: 230px;
        margin-top: -100px;
    }

    .client__bottom.stream .client__logo img{
        margin-top: 50px;
        margin-left: -20px;
    }

}