@media only screen and (max-width: 320px) {
    .experience{
        width: 294px;
        height: 538px;
        background-size: auto 592px;
        background-position-x: center;
        padding-left: 26px;
        padding-top: 54px;

        overflow-x: hidden;
    }

    .experience__title, .experience__arrows, .experience__bottom{
        display: flex;
        flex-direction: row; 
    }

    .experience__top{
        display: flex;
        flex-direction: column; 
    }

    .experience__point-top,.experience__point-bottom{
        font-size: 14px;
    }

    .experience__title-text{
        width: 264px;
        height: 92px;
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: -0.85px;
        color: #ffffff;
        margin-left: 3px;
    }
    .experience__rect{
        width: 8px;
        height: 8px;
        background-color: #01da00;
        margin-top: 76px;
        margin-left: -25px;
    }

    .experience__arrows{
        margin-top: 56px;
        margin-left: 10px;
    }

    .experience__arrow img{
        height: 22px;
    }

    .experience__arrow.left img{
        transform: rotate(180deg);
        opacity: 0.3;
        margin-right: 16px;
    }

    .experience__point{
        width: 294px;
        height: 212px;
        padding-top: 35px;
        padding-bottom: 19px;
        padding-left: 34px;
    }

    .experience__bottom{
        margin-top: 27px;
    }

}