@media only screen and (max-width: 600px) {
    .experience{
        height: 538px;
        background-size: auto 592px;
        background-position-x: center;
        margin-left: 0px;
        padding-top: 54px;
    }


    .experience__top{
        display: flex;
        flex-direction: column; 
    }

    .experience__point-top,.experience__point-bottom{
        font-size: 15px;

    }

    .experience__title-text{
        width: 264px;
        height: 92px;
        font-size: 40px;
        line-height: 1.15;
        letter-spacing: -0.85px;
        color: #ffffff;
        margin-left: 3px;
    }
    .experience__rect{
        width: 8px;
        height: 8px;
        margin-top: 76px;
        margin-left: -25px;
    }

    .experience__arrows{
        margin-top: 56px;
        margin-left: 10px;
    }

    .experience__arrow img{
        height: 22px;
    }

    .experience__arrow.left img{
        margin-right: 16px;
    }

    .experience__point, .experience__point.white{
        width: 283px;
        height: 233px;
        padding-top: 37px;
        padding-bottom: 22px;
        padding-left: 37px;

    }

    .experience__point-top{
        line-height: 1.6; 
        letter-spacing: 0px;
        width: 343.4px;
    }

    .experience__point-bottom{
        margin-top: 0px;
    }

    .experience__bottom{
        margin-top: 27px;
    }

    .experience__point-top.medium{
        width: 232px;
    }

    .experience__content{
        width: 320px;
    }
}