@media only screen and (max-width: 767px){
    .header{
        width: 300px;
        min-height: 400px;
        padding-left: 0px;
    }

    .header__top{
        width: 280px;
        padding-left: 20px;
}
.header__top_wrapper{
    width:100%;
}

    .header__arrow {
        background-image: url('../../src/img/png/logo-light_wh.png');
        background-size:130px 42px;
        width: 130px;
        height: 42px;
        margin-top: -11.5px;
    }
    .header__arrow img{
        display: none;
    }

    #curtain{
        display:none;
    }

    .header__button{
        background-image: url('../../src/img/png/telephon@3x.png') ;
        background-color: transparent;
        background-size: 29px 35px;
        margin-left: -30px;
        width: 29px;
        height: 35px;
        font-size: 0;
        
    }
    
    .header__button_wrap{
        margin-top: -9px;
    }

    .header__text br{
        display: none;
    }

    .header__button:hover{
        cursor: pointer;
    }

    .header__text{
        font-family: GothamPro-New;
        font-size: 13px;
        margin-top: 22px;
        margin-left: 8px;
        width:265px;
        line-height: 1.65;
        letter-spacing: .6px;
    }
    .header__pike img{
        height: 51px;
        width: 183px;
        margin-left: 12px;
    }

    #header__media_part1 img{
        width: 266px;
        height: 52px;
        margin-left: 12.5px;
        margin-top: 7px;
    }
    #header__media_part2 img{
        width: 123px;
        height: 51px;
        margin-top: 7px;
        margin-left: 154px;
        padding-bottom: -3px;
        
    }

    .header__bottom{
        margin-bottom: 30px;
    }

    
    .header__wriper{
        min-height: 400px;
    }

  
}