.banner01{
    width: 1920px;
    height: 595px; 
    background-image: url("../../src/img/png/02-banner-pml.png");
}

#myVideo1{
    width: 1920px;
    height: auto;
    position: absolute;
}

.banner01__content{
    margin-left: 469px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.banner01_pml{
    margin-left: 736px;
}

.banner01_pml img{
    width: 151px;
    height: 151px;
}

.banner01__text{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 71px;
    font-family: GothamPro-Bold;
    font-size: 80px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -2px;
    color: #ffffff;
}

.banner01__dot{
    width: 16px;
    height: 19px;
    background-color: #01da00;
    margin-bottom: 14px;
    margin-left: 9px;
}

.banner01__text:nth-child(1) .banner01__dot{
    margin-left: 10px;
    margin-top: 1px;
}

.banner01__text:nth-child(2){
    margin-left: 226px;
}

.banner01__text:nth-child(2) .banner01__dot{
    margin-left: 6px;
}

.banner01__text:nth-child(3){
    margin-left: 423px;
}

.banner01_text_wrap{
    margin-top: -10px;
    margin-left: 3px;
}