body,
html {
    margin: 0px;
    width: 100%;
    background-color: black;
}

html {
    margin: auto;
}

body {
    overflow-x: hidden;
    margin: auto;
    overflow-y: scroll;
    box-sizing: border-box;

}

.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}


:focus {
    outline: none;
}

.tns-liveregion.tns-visually-hidden{
    display: none;
}