

body, html{
    margin: 0px;
    width: 1920px;
    background-color: black;
}

html {
    margin: auto;
}

body {
    overflow-x: hidden;
    margin: auto;
    overflow-y: scroll;
    box-sizing: border-box;
}

.viewport {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  