.experience{
    width: 100%;
    height: 738px;
    background-image: url("../../src/img/png/03-integration@2x.png");
    background-size: 1920px 944px;
    padding-left: 374px;
    padding-top: 206px;
    position: relative;
    display: flex;
    justify-content: center;
}

.experience__background{
    width: 100%;
    
    position: absolute;
}


.experience__content{
    width: 1920px;
}


#myVideo2{
    width: 100%;
    height: auto;
    position: absolute;
}


.experience__title, .experience__arrows, .experience__top, .experience__bottom{
    display: flex;
    flex-direction: row; 
}

.experience__title-text{
    font-family: GothamPro-Bold;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.7px;
    color: #ffffff;
}
.experience__rect{
    width: 16px;
    height: 16px;
    background-color: #01da00;
    margin-top: 132px;
    margin-left: 10px;
}

.experience__arrows{
    margin-top: 113px;
    margin-left: 592px;
}

.experience__arrow img{
    height: 35px;
}

.experience__arrow.left img{
    transform: rotate(180deg);
    
    margin-right: 27px;
}

.experience__arrow.right{
    opacity: 0.3;
} 

.experience__arrow:hover{
    cursor: pointer;
}

.experience__bottom{
    margin-top: 86px;
    width: 2000px;
}

.experience__point{
    width: 466px;
    height: 242px;
    padding-top: 35px;
    padding-bottom: 38px;
    padding-left: 34px;
    background-color: #01da00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience__point.white{
    width: 467px;
    background-color: #ffffff;
    padding-left: 33px;
}

.experience__point-top{
    font-family: GothamPro;
    font-size: 24px;
    line-height: 1.46;
    color: #000000;
}

.experience__point-bottom{
    width: 275px;
    height: 32px;
    font-family: GothamPro;
    font-size: 24px;
    line-height: 1.33;
    color: #ffffff;
}

.experience__point-bottom.white{
    margin-bottom: -2px;
    color: #01da00;
}

.experience__point-top.big{
    display: inline;
}
.experience__point-top.medium{
    display: none;
}