.feedback__bottom__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../../src/img/gif/Noise-200px.gif");
    background-repeat: repeat;
    position: relative;
}

.feedback{

    width: 1529px;
    height: 827px;
    padding-left: 391px;
    padding-top: 181px;
}

.feedback__title{
    width: 856px;
    height: 240px;
    font-family: GothamPro-Bold;
    font-size: 80px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -1.7px;
    color: #ffffff;
}

.feedback__dot{
    color: #01da00;
    margin-left: 10px;
    font-size: 95px;
    line-height: 0.7;
}

.feedback__form{
    display: flex;
    flex-direction: row;
    padding-top: 63px;
}

.feedback__info{
    width: 361px;
    height: 72px;
    font-family: GothamPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #01da00;
    margin-top: 2px;
}

.feedback__input{
    margin-left: 140px;
}

.feedback__field input{
    width:570px;
    height:20px;
    border: none;
    outline:none;
    background-color:transparent;
    border-bottom: 2px solid #01da00;
    color: #ffffff;
    font-family: GothamPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding-bottom: 23px;
    margin-bottom: 48px;
    margin-top: 1px;
}

.feedback__field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
}

.feedback__button{
    margin-top: 9px;
    width: 169px;
    height: 50px;
    background-color: #01da00;
    border: none;
    padding-left:0px;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.01px;
    color: #000000;                
    text-align: center;
}

.feedback__button:hover{
    cursor: pointer;
}

