.footer__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
}


.footer{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;

    color: white;
    height: 240px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}
.footer__contact{            
    display: flex;
    flex-direction: row;
}


.footer__logo{
    padding-top: 77px; 
    padding-left: 375px;
    height: 275px;
}

.footer__logo img{
    width: 169px;
    height: 52px;
}

.footer__contact-info{
    margin-left: 114px;
    padding-top: 76px;
    height: 24px;
    width:244px;
    font-family: GothamPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
}

.footer__social{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    /*margin-left: 271px;*/
    margin-right: 135px;
    padding-top: 75px; 
    height: 275px;
    padding-right: 240px;
}

.footer__icons{
    display: flex;
    width: 370px;
    justify-content: space-between;
    
}

.footer__dev{
    margin-top:43px;
    width: 195px;
    height: 15px;
    font-family: GothamPro;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #7f7f7f;
}

.footer__dev a{
    color: #f2f2f2;
}

.vk {
    width: 28px;
    height: 16px;
    object-fit: contain;
    margin-top: 2px;
}

.facebook {
    width: 12px;
    height: 24px;
    object-fit: contain;
}
.insta {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.ok {
    width: 13px;
    height: 23px;
    object-fit: contain;
}
.twitter {
    width: 23px;
    height: 20px;
    object-fit: contain;
}
.switch {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.youtube {
    width: 29px;
    height: 20px;
    object-fit: contain;
}

.ok:hover{
    filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);
}



#redis{
    text-decoration: none;
}
#redis:hover{
    cursor: pointer;
    color:#01da00;
}
