.services__wrapper{
    width:100%;
    display: flex;
    justify-content: center;  
    position: relative;
}

.services{
    width: 1920px;
    height: 3265px;

}

.services__background{
    width: 100%;
    height: 3265px;
    position:absolute;
}

.services__products{
    width: 1920px;
    height: 2883px;
    opacity: 1;
    position:absolute;  
    padding-left:374px;
    padding-top: 185px;
    padding-bottom: 197px;
    display: flex;
    flex-direction: column;
}

.services__product{
    display: flex;
    flex-direction: row;
}

.product__img img{
    width: 376px;
}

.product__img{
    width: 376px;
}

.product__img.hub{
    margin-top: 139px;
    margin-left: -107px;
}

.product__list li{
    margin-top: 10px;
    margin-left: -16px;
}

.product__title{
    width: 826px;
    height: 256px;
    font-family: GothamPro-Bold;
    font-size: 61px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: -2px;
    color: #01da00;
}

.product__title-black{
    color:#000000;
}

.product__list{
    font-family: GothamPro;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
}
.product__list li{
    list-style-type: square;
    padding-left: 5px;;
}

.product__list li div{
    font-size: 16px;
}

/*hub*/
.product__list.hub{
    margin-left: 3px;
    margin-top: -27px;
}

/*archive*/

.services__product.archive{
    margin-top: 270px;
}

.product__img.archive{
    margin-top: 39px;
}

.product__text.archive{
    margin-left: 123px;
}

.product__title.archive{
    width:670px;
}

.product__list.archive{
    margin-top: 115px;
    margin-left: 5px;
}

.product__list.archive li{
    line-height: 1.2;
}

/*signal*/

.product__img.signal{
    margin-top: 130px;
    margin-left: -53px;
}

.product__list.signal{
    margin-top: 40px;
    width: 447px;
}

.product__list.signal li{
    line-height: 0.9;
}

.product__list.signal li div{
    line-height: 1.5;
}

.services__product.signal{
    margin-top: 260px;
}

/*promo*/

.product__text.promo{
    margin-left: 108px;
}

.product__list.promo{
    margin-top: 121px;
    margin-left: 6px;
    width: 430px;
}

.product__list.promo li{
    line-height: 1.3;
}

.product__title.promo{
    width:600px;
}

.services__product.promo{
    margin-top: 249px;
    margin-left:15px;
}


/*stamps*/

.servises__stamp{
    position: absolute;
    width: 175px;
    height: 175px;
}

.servises__stamp-text{
    position:absolute;
    width:175px;
}

.servises__rock{
    position:absolute;
    width: 54.3px;
    margin-left: 60px;
    margin-top: 43px;
}

.servises__stamp.one{
    margin-left:1301px;
    margin-top:1210px;
}

.servises__stamp.two{
    margin-left:1316px;
    margin-top:2748px;
}

#green_1,#green_2{
    display:none;
}

.servises__stamp:hover{
    cursor: pointer;
}

.servises_text {
    width: 300px;
    height: 210px;
    border: 2px solid black;
    margin-left: -63px;
    margin-top: -63px;
    padding-top: 90px;
    border-radius: 50%;
    text-align: center;  /* выравнять текст по середине по горизонтали */
    background: black;
    font-family: GothamPro;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    position: absolute;
    z-index: 97;
    opacity: 0;
    scale: 0.5;
}

.product__title.archive br{
    display:none;
 } 